
#smartwatch{
   height: 300px;
   width: 500px;
  background: url(https://i.postimg.cc/VvkTg2mZ/smart.avif);
   box-shadow: 0px 10px 20px 15px black;
   margin: 0px auto;
   color: white;
   font-size: 30px;
   line-height: 300px;
   text-align: center;
   margin-top: 100px;
   font-weight: bolder;
   border-radius: 50%;
   background-repeat: no-repeat;
   background-size: 100% 100%;
   rotate: 1deg;
   font-family: digital;
   }

   @font-face{
       font-family: digital;
       src: url('digital-7 (mono).ttf');
    }
